<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="shortcut icon" href="../../images/urbanbank-website-favicon-color.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </link>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Lato&family=PT+Serif:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../styles/style.css">
</head>

<body class="d-flex flex-column align-items-center" data-bs-theme="ligth" id="app">
    <header class="navbar-expand-lg col-12">
        <nav class="navbar p-0">
            <div class="container-fluid nav p-2 align-items-center" id="head">
                <div class="col-8 col-md-6 col-lg-4 col-xxl-3">
                    <img src="../../images/logo-azul.png" alt="" class="w-75" id="logoNav">
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end gap-2 pe-2" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0  text-center">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./accounts.html"> <i
                                    class="bi bi-cash-stack"></i> Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./cards.html">| <i
                                    class="bi bi-credit-card-fill"></i> Cards</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./loan-application.html">| </svg> <i
                                    class="bi bi-piggy-bank"></i> Loans</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="./transaction.html">| <i
                                    class="bi bi-arrow-left-right"></i> Transactions</a>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link active" @click="logout">| <i class="bi bi-box-arrow-right"></i>
                                Logout</button>
                        </li>
                    </ul>

                    <div>
                        <div class="custom-switch">
                            <input type="checkbox" id="switch">
                            <label for="switch" class="active"></label>
                        </div>

                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main
        class="flex-grow-1 p-2 d-flex flex-column gap-3 align-items-center flex-lg-row justify-content-lg-around flex-wrap text">
        <div class="card cardS p-2 bg-transparent col-lg-4" style="width: 18rem; backdrop-filter: blur(15px);">
            <img src="../../images/avatar-femenino.png" class="card-img-top" alt="...">
            <ul class="list-group list-group-flush fw-bold">
                <li class="list-group-item bg-transparent" style="backdrop-filter: blur(15px);">Nombre:
                    {{client.firstName}}</li>
                <li class="list-group-item bg-transparent" style="backdrop-filter: blur(15px);">Apellido:
                    {{client.lastName}}</li>
                <li class="list-group-item bg-transparent" style="backdrop-filter: blur(15px);">E-mail:
                    {{client.email}}
                </li>
            </ul>
        </div>
        <div
            class="d-flex justify-content-around flex-column flex-md-wrap flex-md-row gap-3 align-items-center col-12 col-lg-8">
            <template v-for="account of accounts">
                <div class="card col-12 bg-transparent text-lg-center col-md-5 col-lg-5 position-relative"
                    style="backdrop-filter: blur(15px);">
                    <button class="btn-trash z-3 position-absolute top-0 end-0 m-1"><i class="bi bi-trash"></i></button>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-transparent" style="backdrop-filter: blur(15px);">Number of
                            Account: {{account.number}}</li>
                        <li class="list-group-item bg-transparent" style="backdrop-filter: blur(15px);">Balance:
                            {{account.balance}}</li>
                        <li class="list-group-item bg-transparent" style="backdrop-filter: blur(15px);">Creation
                            Date:
                            {{account.creationDate}}</li>
                    </ul>
                    <a v-bind:href="'./account.html?id='+account.id"
                        class="d-flex justify-content-center text-decoration-none"><button type="button"
                            class="btn btn-secondary">View
                            More</button></a>
                </div>
            </template>
            <template v-if="accounts.length<3">
                <button type="button" class="btn btn-success" @click="createdAccount">Add new account</button>
            </template>
        </div>
        <div class="d-flex justify-content-around flex-column gap-3 align-items-center col-11 col-lg-8">
            <table class="col-12">
                <thead class=" p-2 bg-transparent fw-bold border border-black">
                    <tr>
                        <th class="text-center" colspan="4">Loans</th>
                    </tr>
                    <tr>
                        <td class="p-1 border border-black">Name</td>
                        <td class="p-1 border border-black">Amount</td>
                        <td class="p-1 border border-black">Payment</td>
                    </tr>
                </thead>
                <tbody>
                    <template v-for="loan of loans">
                        <tr>
                            <td class="p-1 border border-black">{{loan.name}}</td>
                            <td class="p-1 border border-black">{{loan.amount.toLocaleString()}}</td>
                            <td class="p-1 border border-black">{{loan.payment}}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </main>

    <footer
        class="footer col-12 p-1 d-flex flex-column-reverse align-items-center flex-lg-row justify-content-lg-around text-lg-center"
        id="foot">
        <h6 class="p-1 m-lg-0"><i class=" bi bi-c-circle"></i> 2023: All rights reserved</h6>
        <div class="ps-2 pe-2">
            <a href=""><i class="bi bi-facebook fs-1"></i></a>
            <a href=""><i class="bi bi-whatsapp fs-1"></i></i></a>
            <a href=""><i class="bi bi-twitter fs-1"></i></a>
            <a href=""><i class="bi bi-instagram fs-1"></i></a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../../scripts/accounts.js"></script>
    <script src="../../scripts/theme.js"></script>

</body>

</html>